@font-face {
  font-family: Vazir;
  src: url("../font/Vazir-FD-WOL.ttf");
}

@keyframes zero-to-100 {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 2rem);
  }
}

* {
  font-family: Vazir, sans-serif;
  text-align: right;
}

a:focus {
  outline: none !important;
}

input {
  outline: none;
  border: none;
}

#landing {
  padding: 25px 0;
  background: url(../img/landing.jpg) no-repeat center center;
  background-size: cover;
}

#landing-container {
  width: 93%;
}

.nav-link,
.nav-item {
  color: #ffffff;
  font-size: 14px;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

.nav-link:hover {
  color: #00b3e9;
}

.nav-link.hov:hover {
  color: #ffffff;
}

.nav-link.hov::before {
  position: absolute;
  right: 0;
  top: -7px;
  width: 0;
  height: 2px;
  margin: 0 1rem;
  content: "";
  box-shadow: 0 0 7px #00bffe;
  -moz-box-shadow: 0 0 7px #00bffe;
  -webkit-box-shadow: 0 0 7px #00bffe;
  background-color: #00bffe;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.nav-link.hov:hover::before {
  /* width: 100%; */
  width: calc(100% - 2rem);
  animation: zero-to-100 0.4s normal;
}

#landing-content {
  width: 600px;
  padding: 45px 0 70px;
}

#title-1 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 26px;
}

#title-2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 24px;
}

#landing-search {
  width: 100%;
  display: block;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  padding: 10px;
  margin: 45px 0;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

#landing-search-container {
  background-color: #ffffff;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  padding: 10px;
}

.search-icon {
  color: #00b3e9;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.search-icon:hover {
  color: initial;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin: 0.6rem 0 0;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-toggle::after {
  vertical-align: .1em !important;
  border-right: 0.1em solid !important;
  border-bottom: 0.1em solid !important;
  border-left: 0 !important;
  border-top: 0 !important;
  transform: rotate(45deg);
  padding: 2px;
}

#menu {
  box-shadow: 0 0 10px #ebf0f5;
  -moz-box-shadow: 0 0 10px #ebf0f5;
  -webkit-box-shadow: 0 0 10px #ebf0f5;
  background-color: #fff;
  border-bottom: 1px solid #eef4f9;
  padding: 11px 0;
}

#menu .nav-link,
#menu .nav-item {
  color: #1e2f38;
  border: none;
}

#menu .nav-link:hover {
  color: #00b3e9;
  border: none;
}

#menu li {
  display: -ms-flexbox !important;
  display: flex !important;

  -ms-flex-align: center !important;
  align-items: center !important;
}

#offer {
  color: #00b3e9 !important;
  font-weight: bold;
}

section h2 {
  padding-right: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #1e2f38;
  position: relative;
}

section h2::before {
  width: 2000px;
  height: 5px;
  border-radius: 25px;
  background-color: rgb(0, 191, 254, 0.2);
  position: absolute;
  right: -1990px;
  top: 9px;
  content: "";
}

section h2::after {
  width: 32px;
  height: 5px;
  border-radius: 25px;
  background-color: #00bffe;
  position: absolute;
  right: 0;
  top: 9px;
  content: "";
}

#last-courses {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  margin-top: 70px;
}

.custom-a {
  color: #1e2f38;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.custom-a:hover {
  color: #00b3e9;
}

.heading {
  margin-bottom: 45px;
  padding: 0 15px;
}

.card-container {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.card-container i {
  color: #d2dbdf;
}

.course-card {
  border-radius: 5px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 7px 0 #eaeff4;
  -moz-box-shadow: 0 0 7px 0 #eaeff4;
  -webkit-box-shadow: 0 0 7px 0 #eaeff4;
  /* position: relative; */
  border: 1px solid #ecf0f4;
  background-color: #fff;
}

.course-top img {
  width: 100%;
  height: 180px;
}

.course-top {
  position: relative;
}

.course-top .more {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: auto;
  opacity: 0.4;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.course-top .dots {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #fff;
  font-size: 20px;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.course-top:hover .more {
  opacity: 1;
}

.course-top:hover .dots {
  color: #00b3e9;
}

.course-info {
  padding: 7px 0;
  margin: 0 14px;
}

.course-info.title {
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  box-sizing: content-box;
}

.info-tile {
  padding-left: 20px;
  font-size: 12px;
  color: #778286;
}

.info-tile a {
  color: inherit;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.info-tile a:hover {
  color: #6fc341;
}

.info-tile.price {
  color: #6fc341;
  font-size: 14px;
  padding-left: 0;
}

.info-tile.price.free {
  font-size: 18px;
}

.info-tile.time,
.info-tile.time i {
  color: #00b3e9;
  line-height: 35px;
}
