@font-face {
  font-family: Vazir;
  src: url("../font/Vazir-FD-WOL.ttf");
}

@keyframes zero-to-100 {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 2rem);
  }
}

* {
  font-family: Vazir, sans-serif;
  text-align: right;
}

a:focus {
  outline: none !important;
}

input {
  outline: none;
  border: none;
}

#landing {
  padding: 25px 0;
  background: url(../img/landing.jpg) no-repeat center center;
  background-size: cover;
}

#landing-logo {
  width: 75px;
}

#landing-container {
  width: 1170px;
}

.nav-link,
.nav-item {
  color: #ffffff;
  font-size: 14px;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
  -moz-transition: ease 0.4s;
  -ms-transition: ease 0.4s;
  -o-transition: ease 0.4s;
}

.nav-link:hover {
  color: #00b3e9;
}

.nav-link.hov:hover {
  color: #ffffff;
}

.nav-link.hov::before {
  position: absolute;
  right: 0;
  top: -7px;
  width: 0;
  height: 2px;
  margin: 0 1rem;
  content: "";
  box-shadow: 0 0 7px #00bffe;
  -moz-box-shadow: 0 0 7px #00bffe;
  -webkit-box-shadow: 0 0 7px #00bffe;
  background-color: #00bffe;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.nav-link.hov:hover::before {
  /* width: 100%; */
  width: calc(100% - 2rem);
  animation: zero-to-100 0.4s normal;
}

#landing-content {
  width: 600px;
  padding: 45px 0 70px;
}

#title-1 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 26px;
}

#title-2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 24px;
}

#landing-search {
  width: 100%;
  display: block;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  padding: 10px;
  margin: 45px 0;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

#landing-search-container {
  background-color: #ffffff;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  padding: 10px;
}

.search-icon {
  color: #00b3e9;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.search-icon:hover {
  color: initial;
}

.dropdown-menu {
  width: max-content;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  /* margin: 0.6rem 0 0; */
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-toggle::after {
  vertical-align: 0.1em !important;
  border-right: 0.1em solid !important;
  border-bottom: 0.1em solid !important;
  border-left: 0 !important;
  border-top: 0 !important;
  transform: rotate(45deg);
  padding: 2px;
}

#menu {
  box-shadow: 0 0 10px #ebf0f5;
  -moz-box-shadow: 0 0 10px #ebf0f5;
  -webkit-box-shadow: 0 0 10px #ebf0f5;
  background-color: #fff;
  border-bottom: 1px solid #eef4f9;
  padding: 11px 0;
}

#menu .nav-link,
#menu .nav-item {
  color: #1e2f38;
  border: none;
}

#menu .nav-link:hover {
  color: #00b3e9;
  border: none;
}

#menu li {
  display: -ms-flexbox !important;
  display: flex !important;

  -ms-flex-align: center !important;
  align-items: center !important;
}

#offer {
  color: #00b3e9 !important;
  font-weight: bold;
}

section h2 {
  padding-right: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #1e2f38;
  position: relative;
}

section h2::before {
  width: 2000px;
  height: 5px;
  border-radius: 25px;
  background-color: rgb(0, 191, 254, 0.2);
  position: absolute;
  right: -1990px;
  top: 9px;
  content: "";
}

section h2::after {
  width: 32px;
  height: 5px;
  border-radius: 25px;
  background-color: #00bffe;
  position: absolute;
  right: 0;
  top: 9px;
  content: "";
}

#last-courses,
#suggested-courses,
#fav-courses,
#blog-posts {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  padding: 85px 0 60px;
}

#blog-posts-container {
  width: 100%;
  /* padding: 85px 0 60px; */
  position: relative;
  background: url(../img/article-pattern.png) repeat 0 0 #f6f9fa;
}

.custom-a {
  color: #1e2f38;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.custom-a:hover {
  color: #00b3e9 !important;
}

.heading {
  margin-bottom: 45px;
  padding: 0 15px;
}

.card-container {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.card-container i {
  color: #d2dbdf;
}

.course-card {
  border-radius: 5px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 0 7px 0 #eaeff4;
  -moz-box-shadow: 0 0 7px 0 #eaeff4;
  -webkit-box-shadow: 0 0 7px 0 #eaeff4;
  /* position: relative; */
  border: 1px solid #ecf0f4;
  background-color: #fff;
}

.course-top img {
  width: 100%;
  height: 180px;
}

.post-container .course-top img {
  width: 100%;
  height: 220px;
}

.course-top {
  position: relative;
}

.course-top .more {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: auto;
  opacity: 0.4;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.course-top .dots {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #fff;
  font-size: 20px;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.course-top:hover .more {
  opacity: 1;
}

.course-top:hover .dots {
  color: #00b3e9;
}

.post-container .course-top a {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.post-container .course-top a span i {}

.post-container .course-top a span:before {
  width: 60%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: #fff;
  position: absolute;
  content: '';
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.post-container .course-top a span:after {
  width: 60%;
  height: 1px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  position: absolute;
  content: '';
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.post-container .course-top a span i {
  font-size: 14px;
  padding: 8px 20px;
  line-height: 40px;
  position: relative;
  font-style: normal;
}

.post-container .course-top a span i:before {
  width: 1px;
  height: 25px;
  left: 0;
  top: 0;
  background-color: #fff;
  position: absolute;
  content: '';
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.post-container .course-top a span i:after {
  width: 1px;
  height: 25px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  position: absolute;
  content: '';
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.post-container .course-top:hover a {
  opacity: 1;
}

.post-container .course-top a span:hover:before {
  width: 100%;
}

.post-container .course-top a span:hover:after {
  width: 100%;
}

.post-container .course-top a span i:hover:before {
  height: 100%;
}

.post-container .course-top a span i:hover:after {
  height: 100%;
}

.course-info {
  padding: 7px 0;
  margin: 0 14px;
}

.title {
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  box-sizing: content-box;
}
p.course-info {
  color: #686e71;
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  margin: 0;
  padding: 0 15px;
  height: 55px;
  overflow: hidden;
}

.info-tile:last-child {
  padding: 0;
}

.post {
  padding: 15px;
  line-height: 30px;
}

.post.title {
  font-weight: bold;
  padding: 11px 15px 2px;
}

.post-container {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.swiper {
  margin-bottom: 8px;
}

.swipe-tile {
  width: 26px;
  height: 8px;
  margin-right: 6px;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  background-color: #00bffe;
}

.swipe-tile.active {
  width: 48px;
}

.info-tile {
  padding-left: 20px;
  font-size: 12px;
  color: #778286;
}

.footer-tile {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  color: #1e2f38;
  position: relative;
}

.info-tile a,
.footer-tile a {
  color: inherit;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.info-tile a:hover,
.footer-tile a:hover {
  color: #6fc341;
}

.info-tile.price {
  color: #6fc341;
  font-size: 14px;
  padding-left: 0;
}

.info-tile.price.free {
  font-size: 18px;
}

.info-tile.time,
.info-tile.time i {
  color: #00b3e9;
  line-height: 35px;
}

.info-tile.post {
  font-size: 14px;
  color: #00bffe;
}

.contact {
  width: 100%;
  padding: 47px 0 45px;
  background: url(../img/footer-pattern.png) repeat 0 0 #153248;
}

#contact-container {
  width: 1170px;
}

.contact form {
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 11px;
  width: 100%;
  border: 2px dashed #334d60;
}

.contact button {
  width: auto;
  padding: 0 15px;
  font-size: 14px;
  word-spacing: -2px;
  height: 45px;
  border: 0;
  color: #fff;
  background-color: #6fc341;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -moz-transition: ease 0.2s;
  -ms-transition: ease 0.2s;
  -o-transition: ease 0.2s;
}

.contact button:hover {
  background-color: #61b832;
}

.contact i {
  margin: 0 15px;
  color: #d2dbdf;
}

#form-container {
  border-radius: 5px;
  overflow: hidden;
}

.input-layer {
  background-color: #ffffff;
}

.namad {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 35px 0 0;
}

.site-map {
  padding: 45px 0;
}

#map-container {
  width: 1170px;
  margin: 0 auto;
}

.site-map ul li {
  width: 25%;
  float: right;
  display: inline-table;
  margin: 3px 0;
}

.dropdown-menu ul li {
  /* width: 25%;
  float: right;
  display: inline-table; */
  margin: 3px 0;
}

.site-map ul li a:before {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  right: 0;
  top: 8px;
  content: "";
  background-color: #6fc341;
}

.dropdown-menu ul li a:before {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  position: absolute;
  right: 0;
  top: 8px;
  content: "";
  background-color: #00b3e9;
}

#footer-base {
  height: 32px;
  background-color: #153248;
  width: 100%;
}

/* @media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 768px) {
} */

@media screen and (min-width: 576px) {
  .resp {
    display: none;
  }
}

@media screen and (max-width: 575.98px) {
  #last-courses,
  #suggested-courses,
  #fav-courses,
  #contact-container,
  #blog-posts {
    width: auto;
    padding: 35px 15px;
  }

  #landing-container {
    width: 100%;
    padding: 0 15px;
  }

  #landing-content {
    width: 100%;
    padding: 0;
  }

  #landing-stats,
  #menu,
  #title-2,
  .hov,
  .newsletter-form,
  .site-map {
    display: none !important;
  }

  #landing-search {
    margin: 15px 0;
  }

  #title-1 {
    font-size: 18px;
    text-align: center;
    width: 280px;
  }

  #landing-logo {
    width: 58px;
  }

  #auth {
    margin-right: initial !important;
  }

  #landing-header .navbar {
    justify-content: normal;
  }

  .heading {
    padding: 0;
  }

  .heading > h2 {
    font-size: 16px;
  }

  .heading > a {
    font-size: 15px;
  }

  .navbar-brand {
    margin-left: 1rem;
    margin-right: 0;
  }

  .card-container,
  .post-container {
    width: 100%;
    padding: 0;
  }

  .swiper {
    display: none !important;
  }

  .namad {
    margin: 0 15px;
  }
}
